@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
/* common styles or utilities */
*{
    margin: 0;
    padding: 0;
}
:root{
    --dark-01: #131313;
    --dark-02: #424242;
    --dark-03: #727272;

}
body{
    font-family: 'Work Sans', sans-serif;
}
p{
    line-height: 150%;
    margin: 1.2em 0;
    color: var(--dark-03);
}
a{
    text-decoration: none;
    color: var(--dark-02);
}
.section-title{
    font-size: 1.81rem;
    color: var(--dark-01);
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 15px 25px;
    color: #FFF;
    font-size: 1.1rem;
    
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 90px;
    margin-bottom: 85px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;

}
nav ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 60px auto;
}
.banner-title{
    font-size: 2.3rem;
}
.banner img{
    width: 100%;
}
/* main styles */
main{
    max-width: 1440px;
}
/* team styles */
.team-container{
    display: flex;
    margin-bottom: 130px;
    
}
.team-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 76px;    
}
.team-content{
    width: 420px;
    color: var(--dark-03);
    
    
}
.team-title{
    font-size: 1.81rem;
    color: var(--dark-01);
    
}
.text-gray{
    color: var(--dark-03);
    font-weight: 500;
}
.text-orange{
    color: #FF900E;
}

/* feature styles */
.features{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    margin-bottom: 160px;
}
.feature-content{
    width: 586px;
    margin-left: 70px;

}
.border-left{
    border-left: 3px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img{
        position: relative;
}
.feature-img img{
    height: 90%;

}
.badge{
    position: absolute;
    padding: 30px;
    text-align: center;
    bottom: -80px;
    left: -50px;
    width: 280px;
    border-radius: 8px;
    background: #FF900E;
}
.badge h2{
    font-size: 3.2rem;
    color: #FFF;

    
}
.badge p{
    font-size: 1.5rem;
    color: #FFF;
    line-height: 10%;
}
.facts{
    margin:0 70px;
    margin-bottom: 180px;
}
.facts-text{
    width: 542px;
    
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    margin-top: 80px;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.stats{
    color: var(--dark-02);
    margin-top: 10px;
}