@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
/* common styles or utilities */
*{
    margin: 0;
    padding: 0;
}
:root{
    --dark-01: #131313;
    --dark-02: #424242;
    --dark-03: #727272;

}
body{
    font-family: 'Work Sans', sans-serif;
}
p{
    line-height: 150%;
    margin: 1.5em 0;
}
a{
    text-decoration: none;
    color: var(--dark-02);
}
.section-title{
    font-size: 1.81rem;
    color: var(--dark-01);
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 15px 25px;
    color: #FFF;
    font-size: 1.1rem;
    
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 90px;
    margin-bottom: 85px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;

}
nav ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 60px auto;
}
.banner-title{
    font-size: 2.3rem;
}
.banner-text{
    color: var(--dark-03);
    
}
.banner img{
    width: 100%;
}
/* team styles */
.team-container{
    display: flex;
    
}
.team-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 76px;    
}
.team-content{
    width: 420px;
    color: var(--dark-03);
    
    
}
.team-title{
    font-size: 1.81rem;
    color: var(--dark-01);
    
}
.text-gray{
    color: var(--dark-03);
    font-weight: 500;
}
.text-orange{
    color: #FF900E;
}